@*@model PPCRentalProject.ViewModels.ViewModel*@
@model PagedList.IPagedList<PPCRentalProject.Models.PROPERTY>
@using PagedList.Mvc
@{
    ViewBag.Title = "Projects List";
}

<!--Page's Header-->
<div class="header">
    <div class="bg-color">
        <header id="main-header"></header>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="banner-info text-center wow fadeIn delay-05s">
                        <h3>Welcome to Perfect Property Company</h3>
                        <h2 class="bnr-sub-title">Starting a new journey!!</h2>
                        <p class="bnr-para">
                            At PPC, We hold ourselves to the highest ethical and professional standards, and it is our goal to provide the most professional and courteous service.<br />
                            The PPC has many qualities that make us unique. We build strong relationships with our clients by identifying and catering to their individual needs and by keeping our clients aware and informed during every step of the process.
                        </p>
                        <div class="brn-btn">
                            <a href="#service" class="btn btn-download">Learn more...</a>
                        </div>
                        <div class="overlay-detail">
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

<div>
    <div>
        <p style="padding-left: 10px;font-size:35px;color:white;font-family:Corbel;">
            Project List
        </p>
    </div>
    <hr />
    <div>
        <table style="font-family:Corbel;">

            @foreach (var item in Model)
            {
                <tr>
                    <!--Avatar-->
                    <td width="40%" style="border-right: 1px solid white;text-align:center;">
                        <img src="~/img/DatabaseImages/@item.Avatar" class="img-responsive img-thumbnail" width="90%" />
                        <p style="padding-top:5px;"><i class="fa fa-check-square" aria-hidden="true"></i> @item.PROJECT_STATUS.Status_Name</p>
                    </td>
                    <!--Project info-->
                    <td style="text-align:left;padding: 10px;border-bottom:1px dashed white;">
                        <!--Name-->
                        <p style="font-weight:bold;font-size:20px;">@item.PropertyName</p>
                        <hr />
                        <!--Price and Features-->
                        <p>
                            <span style="font-size:18px;text-decoration:underline;">Price:</span>
                            <span style="color: #00fc0d">@item.Price @item.UnitPrice</span>
                            | Beds: @item.BedRoom | Baths: @item.BathRoom
                        </p>
                        <hr />
                        <!--Project type-->
                        <p style="font-size:18px;">
                            <span style="text-decoration:underline;">Property type:</span>
                            <span style="color:#f00">@item.PROPERTY_TYPE.CodeType</span>
                        </p>
                        <!--Description-->
                        <p style="font-size:17px;text-decoration:underline;">Description:</p>
                        <p>
                            @item.Content
                        </p>
                        <!--View Detail button-->
                        <p>
                            <a class="btn btn-default" href="~/Project/Detail/@item.ID/#dt" role="button">View details »</a>
                        </p>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <hr />
                        </td>
                    </tr>
            }
        </table>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("User_ViewProjectList", new { page }))
        </div>
    </div>
</div>

<hr />

<p style="text-align:center;color:white">
    <button class=" btn btn-primary"><a href="javascript:void(0);" onclick="history.go(-1);" style="color:white">Back to Previous Page</a></button>
</p>

<!---->
<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/jquery.easing.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/wow.js"></script>
<script src="Scripts/jquery.bxslider.min.js"></script>
<script src="Scripts/custom.js"></script>
<script src="contactform/contactform.js"></script>